{
  "swagger": "2.0",
  "info": {
    "title": "DemoChatGPT",
    "description": "",
    "version": "1.0"
  },
  "host": "api.openai.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/completions": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "object": {
                  "type": "string",
                  "description": "object"
                },
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "created"
                },
                "model": {
                  "type": "string",
                  "description": "model"
                },
                "choices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "text"
                      },
                      "index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "index"
                      },
                      "logprobs": {
                        "type": "string",
                        "description": "logprobs"
                      },
                      "finish_reason": {
                        "type": "string",
                        "description": "finish_reason"
                      }
                    }
                  },
                  "description": "choices"
                },
                "usage": {
                  "type": "object",
                  "properties": {
                    "prompt_tokens": {
                      "type": "integer",
                      "format": "int32",
                      "description": "prompt_tokens"
                    },
                    "completion_tokens": {
                      "type": "integer",
                      "format": "int32",
                      "description": "completion_tokens"
                    },
                    "total_tokens": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_tokens"
                    }
                  },
                  "description": "usage"
                }
              }
            }
          }
        },
        "summary": "Ask Chat GPT",
        "description": "Ask anything",
        "operationId": "ASK",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Content-Type application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "model": {
                  "type": "string",
                  "description": "model",
                  "title": "",
                  "default": "text-davinci-003",
                  "x-ms-visibility": "internal"
                },
                "prompt": {
                  "type": "string",
                  "description": "prompt"
                },
                "max_tokens": {
                  "type": "integer",
                  "format": "int32",
                  "description": "max_tokens",
                  "title": "",
                  "default": 1000,
                  "x-ms-visibility": "internal"
                },
                "temperature": {
                  "type": "integer",
                  "format": "int32",
                  "description": "temperature",
                  "title": "",
                  "default": 0,
                  "x-ms-visibility": "internal"
                },
                "n": {
                  "type": "integer",
                  "format": "int32",
                  "description": "n",
                  "title": "",
                  "default": 1,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "max_tokens",
                "model",
                "n",
                "temperature"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": []
}